.top-menu {    

    @media screen and (min-width: 992px) {
        padding-right: 1.5rem;
        border-right: 1px solid @primary;
    }
}

.btn-primary {
    color: #fff!important;
    background-color: @primary;
    border: none;
}

.btn-primary:hover {
    background-color: @primary-darken;
}

.btn-outline-primary {
    color: #fff!important;
    border-color: @primary;
}

.btn-outline-primary:hover {
    background-color: @primary;
}

.btn-secondary {
    background-color: #fff;
    color: @primary!important;
    border: none;
}

.btn-secondary:hover {
    background-color: @primary;
    color: #fff!important;
}

.btn-outline-secondary {
    color: #fff!important;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    background-color: @primary-darken;
    border-color: @primary;
}