.hero {
  display: flex;
  background: url('../images/beach.jpg') no-repeat;
  height: 100vh;
  text-align: center;
  align-items: flex-end;

  h1 {
    font-size: 5.1rem;
    color: #fff;
  }
}


.jumbotron {
    border-radius: none;
    margin: 0;
}

.container {
    display: flex;
}