
.navbar-expand-lg  {

  @media screen and (min-width: 992px) {
    display: flex;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-collapse {     

    @media screen and (min-width: 992px) {
      
      max-width: 15%;
    }

  }  
}

.navbar-brand {
  display: none;

  @media screen and (min-width: 992px) {
    display: inline-block;
    width: 15rem;
    align-self: center;
    margin: 0 1rem;
  }
 
}

.hero {
  background: url('../images/beach.jpg') no-repeat;
  height: 100vh;
  text-align: center;
  align-items: flex-end;

  h1 {
    font-size: 5.1rem;
    color: #fff;
  }
}


.jumbotron {
    border-radius: none;
    margin: 0;
}

.card {
  border: none;
  margin-bottom: 2rem;

  @media screen and (min-width: 1000px) {
    margin-bottom: none;
  }

  .card-color-overlay {
    transition: 0.5s ease;
    opacity: 0;
    background-color: @primary;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .card-img-overlay {
    opacity: 0;

    @media screen and (min-width:1000px) {
        h1 {
        font-size: 4.2rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #fff;
      }
    }
    
  }
}

.card:hover  {
  .card-img-overlay {
    opacity: 1;
  }

  .card-color-overlay {
    opacity: 0.75;
  }
  
}



.main-footer {
  color: #fff;
  
  a {
    color: #fff;
    text-decoration: none;    
  }
}

.footer-links {
  background-color: @primary;
  flex-direction: column;
  
  a {
    text-transform: uppercase;
  }

  @media screen and (min-width: 920px) {
    flex-direction: row;

    a {
      text-transform: uppercase;
      border-right: 1px solid #fff;
      padding: .5rem 1rem;
    }

    a.last {
      border-right: none;
    }
  }
  
}

.footer-bottom {
  background-color: @primary-darken;

  .bottom-logo {    
    width: 25%;
  }

}