
.navbar-expand-lg  {

  @media screen and (min-width: 992px) {
    display: flex;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-collapse {
    @media screen and (min-width: 992px) {      
      max-width: 15%;
    }
  }  
}

.navbar-brand {
  display: none;

  @media screen and (min-width: 992px) {
    display: inline-block;
    width: 15rem;
    align-self: center;
    margin: 0 1rem;
  }
 
}

.hero {
  background: url('../images/beach.jpg') no-repeat;
  height: 100vh;
  text-align: center;
  align-items: flex-end;

  h1 {
    font-size: 5.1rem;
    color: #fff;
  }
}


.jumbotron {
    border-radius: none;
    margin: 0 0 1.5rem 0;
    padding: 2rem 0;

    @media screen and (min-width: 992px) {
      padding: 2rem 1rem;
    }
}

.reserve {
  max-height: 30rem;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 992px) {
    padding: 0 15px;
  }
}

.card {
  border: none;
  margin-bottom: 15rem;
  max-height: 300px;
  
  @media screen and (min-width: 992px) {
    margin-bottom: none;
    max-height: 100%;
  }

  .card-color-overlay {
    display: none;
    transition: 0.5s ease;
    opacity: 0;
    background-color: @primary;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @media screen and (min-width: 992px) {
      display: inline-block;
    }
  }

  .card-img {
    overflow: hidden;
  }


  .card-img-overlay {
    top: 19rem;
    color: #000;
    opacity: 1;
    text-align: center;

    .btn-outline-secondary {
      color: @primary!important;
      border: 1px solid @primary!important;
    }
    

    @media screen and (min-width: 992px) {
        top: 0;
        left: 0;
        opacity: 0;
        text-align: left;

        h1 {
        font-size: 4.2rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #fff;
      }

        .btn-outline-secondary {
          color: @primary;
          border: @primary;
        }
    }
    
  }
}

.card:hover  {
  .card-img-overlay {
    opacity: 1;
  }

  .card-color-overlay {
    opacity: 0.75;
  }
  
}

.main-footer {
  color: #fff;
  
  a {
    color: #fff;
    text-decoration: none;    
  }
}

.footer-links {
  background-color: @primary;
  flex-direction: column;
  
  a {
    text-transform: uppercase;
  }

  @media screen and (min-width: 920px) {
    flex-direction: row;

    a {
      text-transform: uppercase;
      border-right: 1px solid #fff;
      padding: .5rem 1rem;
    }

    a.last {
      border-right: none;
    }
  }
  
}

.footer-bottom {
  background-color: @primary-darken;

  .bottom-logo {    
    width: 25%;
  }

}